* {
  box-sizing: border-box; /*всі елементи їхня ширина і висота не буде збільшуватися за рахунок падінгів а буде вираховуватися в середині*/
}
a {
  text-decoration: none;
  display: inline-block; /*тепер ссилки будуть строчно -блочними*/
}
ul,
li {
  list-style: none; /*відключаєм маркери*/
  margin: 0;
  padding: 0;
}
.conteiner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}

/*------------------------------------------------------------*/

.header {
  font-family: "Roboto", sans-serif;
}
.header__top {
  background-color: #333333;
}
.header__btn {
  float: right;
  line-height: 36px;
  color: #333333;
  background-color: #efc139;
  padding: 5px 20px 4px 50px;
  display: block;
  position: relative;
}
.header__btn:before {
  font-family: "icomoon";
  content: "\f0b1";
  position: absolute;
  left: 22px;
  color: #1b1b1b;
}
.header__top-inner:after {
  /*створюємо пустий суб-клас який розширив header__top до ширини жовтої кнопки*/
  content: "";
  clear: both;
  display: block;
}
.header__phone,
.header__email {
  color: #c0bfc0;
  letter-spacing: 0.25px; /*відступ між символами*/
  line-height: 45px;
  position: relative;
}
.header__phone {
  padding-left: 20px;
  padding-right: 30px;
}
.header__phone:before {
  /*вставка значків (тел.,емейл..)*/ /*ЗНАЧКИ ВЗЯТО ІЗ САЙТА https://icomoon.io*/
  font-family: "icomoon";
  content: "\f095";
  position: absolute;
  left: 0;
  color: #efc139;
}
.header__email {
  padding-left: 24px;
}
.header__email:before {
  font-family: "icomoon";
  content: "\f003";
  position: absolute;
  left: 0;
  color: #efc139;
}
.header__content {
  padding: 34px 0px 23px;
}
.header__content-inner {
  display: flex;
  justify-content: space-between;
}
.menu li {
  display: inline-block;
}
.menu a {
  color: #212121;
  font-size: 16px;
  line-height: 36px;
  border: 1px solid transparent; /*прозорий колір границі*/
  padding: 0px 16px;
  transition: all 0.3s; /*уповільнюємо перехід*/
}
.menu a:hover {
  border-color: #efc139;
}
.menu li + li {
  /*отступи між кнопками*/
  padding-left: 10px;
}

/*-----------------------------------------------------------*/

#modal {
  display: none; /*щоб відображався тільки після кліку по кнопці, спочатку це було прописано в html,
    але там ми це удалили, так як зараз інша практика*/
}
.slider {
  background-image: url(../img/slider-fon.jpg);
  background-repeat: no-repeat; /*щоб картинка не розмножувалася (одна буде)*/
  background-size: cover; /*маштабує пропорційно зображення*/
  background-position: center;
  min-height: 500px; /*щоб картинка не зтягувалася разом з текстом(тобто коли мало тексту)*/
}
.slider__item-content {
  text-align: center;
  padding-top: 110px;
  max-width: 665px;
  margin: 0 auto;
}
.slider__title {
  text-transform: uppercase; /*ВСІ ВЕЛИКІ БУКВИ*/
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 22px;
  font-family: "Roboto", sans-serif;
}
.slider__text {
  line-height: 24px;
  font-size: 18px;
  color: #d3d2d2;
  margin-bottom: 50px;
}
.slider__btn {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 8px 30px 8px 24px;
  border: 1px solid #efc139;
  border-right-width: 20px; /*робимо на кнопці жовтий блочок зі стрілкою*/
}
.default-btn {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 8px 30px 8px 24px;
  border: 1px solid #efc139;
  border-right-width: 20px;
  position: relative;
  outline: none; /*прибираємо синній відтінок після нажимання*/
}
.default-btn:after {
  content: "\f105";
  font-family: "icomoon";
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /*Вирівнювання по вертикалі (так як top - 50%)*/
  right: -12px;
}
.slider__iner {
  position: relative;
}
.slick-btn {
  position: absolute;
  top: 75%;
  z-index: 3; /*заставляє рухатись слайдер, тільки для елементів з "position:..."*/
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer; /*курсор перетворюється в руку*/
  outline: none; /*прибираємо синій віддінок який залишається після нажимання*/
  background-color: #efc139;
}
.slick-btn.slick-disabled {
  /*це буває коли полоса(слайдер) прокручена в одне з крайніх положень*/
  /*slick-disabled - знаходиться в кнопці (стандарт)*/
  cursor: default;
  background-color: transparent;
}
.slick-btn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "icomoon";
  color: #fff;
}
.slick-next {
  right: 0;
}
.slick-next:before {
  content: "\f105";
}
.slick-prev {
  left: 0;
}
.slick-prev:before {
  content: "\f104";
}

/*---------------------------------------------*/

.about {
  padding: 50px 0px 30px;
}
.about__top,
.news__top {
  /*Для блока з новинами який ідентичний*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.about_title-box,
.form__title-box,
.news_title-box {
  max-width: 520px;
  padding-left: 140px;
  position: relative; /*це робиться щоб створити before - щоб накласти жовту 
  лінію (в даному випадку), чи інший елемент before в інших випадках*/
}

.about_title-box::before,
.form__title-box:before, /*ДО ФОРМИ НАСТУПНИЙ РОЗДІЛ*/
.news_title-box:before {
  /*створення жовтої лінії*/
  content: ""; /*обовязково якщо вішаємо before*/
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #efc139;
  left: 0;
  top: 11px;
}
.about-title,
.form__title,
.news-title {
  /*ЗАГОЛОВОК ДО ФОРМИ*/
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #212020;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}
.about__text,
.form__text,
.news__text {
  letter-spacing: 0.1px;
}
.about__btn a,
.news__btn a {
  /*якщо верстати просто "about__btn" то не получиться по ширині
  так як заданий ФЛЕКС і about__btn буде підстроюватися під about_title-box*/
  color: #373636;
  line-height: 24px;
  letter-spacing: 0.25px;
  padding: 5px 38px;
  border: 3px solid #e6e6e6;
}
.about__items {
  display: flex; /*щоб рівномірно розприділити about__item між собою*/
  justify-content: space-between;
}
.about__item {
  max-width: 360px;
  text-align: center;
  padding: 30px 0px 80px; /*кнопка входить в падінг тому 80px*/
  position: relative;
  min-height: 375px;
  background-color: #f9f9f9;
  box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.about__item-title {
  color: #212020;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 24px 0;
}
.about__item-text {
  letter-spacing: 0.1px;
  padding: 0 20px 30px;
}
.adout__item-btn {
  position: absolute;
  bottom: 40px; /*замість margin-bottom, так як є атрибут position*/
  left: 0;
  right: 0;
}
.adout__item-btn .default-btn {
  color: #373636;
}
.adout__item-btn .default-btn:after {
  color: #ffff;
}
.about__item-link {
  font-family: "Roboto", sans-serif;
  color: #050505;
  border-bottom: 1px solid #050505;
  margin-right: 60px;
}

/*--------------------------------------------------*/

.service {
  background-image: url(../img/service-fon.jpg);
  background-size: cover; /*пропорціональне маштабування*/
  background-position: center;
  min-height: 300px;
  background-repeat: no-repeat; /*зображення не буде повторювватися*/
  padding: 25px 0px 45px;
}
.service-inner {
  max-width: 545px; /*щоб блок не розтягувався якщо захочиться вставити
  в нього більше тексту*/
}
.service__title {
  padding: 10px 0px 25px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500px;
}
.service__text {
  margin-bottom: 30px;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: #d3d2d2;
}
.service__btn.default-btn:after {
  color: #000;
}
/*-----------------------------------------------*/
/*ВЕРСТКА ФОРМИ*/

.form {
  padding-top: 30px;
}
.form__inner {
  padding-bottom: 40px;
  background-image: url(../img/form-mam.png);
  min-height: 460px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.form__box {
  max-width: 850px;
  padding-top: 45px;
}
.form__box-inner {
  display: flex;
  justify-content: space-between;
}
.form__box-left {
  max-width: 260px;
  width: 100%;
}
.form__box-right {
  max-width: 555px;
  width: 100%;
}
.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea {
  display: block;
  width: 100%;
}
.form__box-inner label {
  line-height: 36px;
  color: #282828;
  font-family: "Roboto", sans-serif;
}
.form__box-inner input {
  margin-bottom: 8px;
  outline: none;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px;
}
.form__box-inner select {
  outline: none;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding-left: 17px;
}
.form__box-inner textarea {
  outline: none;
  border: 1px solid #e6e6e6;
  padding: 10px;
  height: 207px;
  resize: none; /*відміняємо можливість розтягувати форму*/
  margin-bottom: 40px;
}
.form__box-inner .default-btn {
  background-color: transparent;
  color: #282828;
  float: right;
}
.form__box-inner .jq-selectbox.jqselect {
  /*класи які утворилися після вставки плагіна*/
  display: block;
  width: 100%;
}
/*Якщо умова виконується при наявності двох класів тоді між класами
не ставиться пробіл, якщо є пробіл - значить це класи підпорядковуються 
один другому*/
.form__box-inner .jq-selectbox__select {
  height: 40px;
  border: 1px solid #e6e6e6;
  padding-left: 17px;
}
.form__box-inner .jq-selectbox__trigger-arrow:before {
  content: "\f105";
  font-family: "icomoon";
  position: absolute;
  transform: rotate(90deg); /*обертаємо стрілку на 90 градусів*/
  right: 17px;
  top: 0;
}
.form__box-inner .jq-selectbox__dropdown {
  /*знайшли клас в css який додали і змінюємо*/
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #e6e6e6;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.form__box-inner .jq-selectbox li {
  min-height: 18px;
  padding: 5px 17px 6px;
  color: #231f20;
}
.form__box-inner .jq-selectbox li.selected {
  background-color: #a3abb1;
  color: #fff;
}
.form__box-inner .jq-selectbox li:hover {
  background-color: #08c;
  color: #fff;
}
.form__box-inner .jq-selectbox li.disabled {
  color: #aaa;
}
.form__box-inner .jq-selectbox li.disabled:hover {
  background: none;
}
.form__box-inner .jq-selectbox li.optgroup {
  font-weight: bold;
}
.form__box-inner .jq-selectbox li.optgroup:hover {
  background: none;
  color: #231f20;
  cursor: default;
}
.form__box-inner .jq-selectbox li.option {
  padding-left: 25px;
}

/*----------------------------------------*/
.advantages {
  padding: 55px 0px 40px;
  background-image: url(../img/average.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 285px;
  background-size: cover; /*пропорційне масштабування*/
}
.advantege__inner {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.advantage-item {
  max-width: 360px;
  text-align: center;
  padding: 0px 20px;
}
.advantage__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 60px 0px 15px; /*60 - резерв для блоку з галочкою*/
  position: relative;
}
.advantage__text {
  line-height: 24px;
  color: #d3d2d2;
  letter-spacing: 0.1px;
}
.advantage__title:before {
  /*створюємо блок для іконки всередині titel*/
  content: ""; /*обовязково вказується інакше нічого не відобразиться*/
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #efc139;
  top: 0;
  left: 50%; /*початок обєкту буде з 50% ширини починатися, відповідно обєкт залізе на право */
  transform: translateX(-50%); /*зміщуємо на 50% ширини самого обєкта вправо*/
}
.advantage__title:after {
  /*створення галочки*/
  content: "\f00c";
  font-family: "icomoon";
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 10px; /*міряємо від краю блочку, так як край блоку це край топа тайтла*/
  left: 50%;
  transform: translateX(-50%);
}
.news {
  padding: 55px 0px 110px;
  background-color: #f9f9f9;
}

.news__iner {
  display: flex;
  justify-content: space-between;
}
.nes__slider {
  max-width: 555px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0.64px rgba(128, 127, 127, 0.13);
  padding: 60px 35px 45px 70px;
  position: relative;
}
.nes__slider:before {
  font-family: "icomoon";
  content: "\f10e";
  color: #fff;
  font-size: 16px;
  height: 30px;
  width: 65px;
  background-color: #efc139;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 70px;
}
.news__blog {
  max-width: 260px;
  width: 100%;
}
.new__images {
  position: relative;
}
.news__date {
  position: absolute;
  background-color: #efc139;
  height: 55px;
  width: 50px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
  top: 0px; /*заміняє маргін якщо є position*/
  left: 10px;
}
.news__blog-title {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  color: #242424;
  padding: 12px 0;
}
.news__blog-text {
  letter-spacing: 0.1px;
  color: #5e5e5e;
}
.news__slider-title {
  font-size: 18px;
  line-height: 24px;
  color: #242424;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.news__slider-text {
  margin-bottom: 30px;
}
.news__slider-author {
  letter-spacing: 0.1px;
  color: #212020;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.news__slider-inner .slick-btn {
  top: auto;
  bottom: -150px;
}
.news__slider-inner .slick-next {
  right: -35px;
}
.news__slider-inner .slick-prev {
  left: auto;
  right: 20px;
}
.news__slider-inner .slick-disabled{
  border-color:#dadada;
}
.news__slider-inner .slick-disabled:before{
  color:#dadada;
}
.footer-content{
  background: #595959;
  padding: 20px 0px 30px; 
}
.footer__inner{
  display: flex;
  justify-content: space-between;
}
.footer__map{
padding-top: 10px;
max-width: 630px;
width: 100%;
}
.footer__map iframe{
width: 100%;
height: 250px;
}
.footer__inner .header__btn{
  float: none;
  display: inline-block;
}
.footer__title{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color:#fff;
  line-height: 36px;
  letter-spacing: 0.5px;
}
.footer__text{
color: #d3d2d2;
margin-bottom: 20px;
}
.footer__info{
  max-width: 360px;
}
.footer__list{
  padding-top: 10px;
}
.footer__list li{
  margin-top: 10px;
}
.footer__list a{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-left: 33px; /*разерв для іконок*/
  position: relative;
}
.footer__list a:before{
  font-family: 'icomoon';
  content:'\f003';
  position: absolute;
  left: 3px;
  color: #efc139;

}
.footer__list .footer__phone:before{
  content:'\f095';
}
.footer__list .footer__adr:before{
  content:'\f041';
}
.footer__copy{
  background-color: #303030;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 24px;
  padding: 8px 0;
}
/*=============СТИЛІЗАЦІЯ ФОРМИ ВІДПРАВКИ=================*/
#modal{
  width: 300px;
}
#modal input{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px;
  font-family: "Roboto", sans-serif;
}
#modal input[type="submit"]{/*звертаємося до кнопки, щоб не писати нові класи (БЕЗ ПРОБЕЛА!!!)*/
background-color: #efc139;
border: none;
}
/*=========================================================*/

.header__btn-menu{
  display: none;
  
}